# ─── Gemini API ───────────────────────────────────────────────────────────────
GEMINI_API_KEY=AIzaSyAfp4n9X_ZHXb3U-AxJqdFVIE7hkXMzXeY

# ─── Upstash Vector DB ─────────────────────────────────────────────────────────
UPSTASH_VECTOR_REST_URL=https://logical-fawn-13464-gcp-usc1-vector.upstash.io
UPSTASH_VECTOR_REST_TOKEN=ABsFMGxvZ2ljYWwtZmF3bi0xMzQ2NC1nY3AtdXNjMWFkbWluWXpKaU5URm1ZMll0Wm1NM05DMDBZalpoTFRoa09HTXRNbUl5TVRjd1lUVmtNalU0

# ─── Server ────────────────────────────────────────────────────────────────────
PORT=3000

# ─── Voice Call ────────────────────────────────────────────────────────────────
ENABLE_VOICE_CALL=true

# ─── Crawler ───────────────────────────────────────────────────────────────────
CRAWL_MODE=sitemap
SITEMAP_URL=https://www.upes.ac.in/sitemap.xml
MAX_PAGES=3000

OLLAMA_KEY=a3e3981c8281426ea2013b5093008eae.tJGzbXuLhUgNG9GCkQLsT6l8